# Don't track fasta, fastq or *gz files
*.fasta
*.fastq
*.gz

# Don't track any files in "data", "assemblies" or "test"
data/**
assemblies/**
test/**

# misc
*~
*.sh.pe*
*.sh.po*
*.sh.e*
*.sh.o*
*.sge.pe*
*.sge.po*
*.sge.e*
*.sge.o*

runRsync.sh
