# SOAP config for first test assembly of Fucus vesiculosus genome with all data as of October 2016
# Tomas Larsson 4 October 2016
# Insert sizes given from initial preqc runs.
# Ranks based on preqc.
# Read lengths taken from FastQC reports.
# Use kmer 87 for first run according to preqc runs.


#maximal read length (all datasets).
max_rd_len=301bp


# This is library #1, 180bp lib. A.Blomberg_15_01, 126 bp reads
[LIB]
#average insert size
avg_ins=162
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=1

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=../../00_Data/A.Blomberg_15_01/best_practice_qc/P1887_101/fastq_trimmed/7_150521_AC6VGLANXX_P1887_101_1.fastq
q2=../../00_Data/A.Blomberg_15_01/best_practice_qc/P1887_101/fastq_trimmed/7_150521_AC6VGLANXX_P1887_101_2.fastq

#Single reads not used for this test


# This is library #2, 300bp lib. A.Blomberg_15_17, 151 bp reads
[LIB]
#average insert size
avg_ins=354
#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=2

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=../../00_Data/A.Blomberg_15_17/best_practice_qc/P3719_201/fastq_trimmed/filterPCRdupl_AB_15_17_uniq1.fastq
q2=../../00_Data/A.Blomberg_15_17/best_practice_qc/P3719_201/fastq_trimmed/filterPCRdupl_AB_15_17_uniq2.fastq

#Single reads mot used for this library


# This is library #3, 550bp lib. A.Blomberg_16_07, 301 bp reads
[LIB]
#average insert size
avg_ins=501 #looks smaller than 550 based on preqc, will adjust for next run if this is wrong.

#Paired end library, orientation is correct as it is
reverse_seq=0

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=3

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=../../00_Data/A.Blomberg_16_07/best_practice_qc/P4453_101/fastq_trimmed/P4453_101_S1_L001_R1_001.fastq
q2=../../00_Data/A.Blomberg_16_07/best_practice_qc/P4453_101/fastq_trimmed/P4453_101_S1_L001_R2_001.fastq

#Second pair
q1=../../00_Data/A.Blomberg_16_07/best_practice_qc/P4453_101/fastq_trimmed/P4453_101_S1_L002_R1_001.fastq
q2=../../00_Data/A.Blomberg_16_07/best_practice_qc/P4453_101/fastq_trimmed/P4453_101_S1_L002_R2_001.fastq

#Single reads not used for this test


# This is library #4, MPL lib., 151 bp reads
[LIB]
#average insert size
avg_ins=5282 		#Initial test
#MP library, orientation reversed
reverse_seq=1

#Use this library for all steps
asm_flags=3

#in which order the reads are used while scaffolding, starting with shortest inserts first
rank=4

#Using cutoff of 3
pair_num_cutoff=3

#Standard mapping length
map_len=32

#Pair of fastq files
q1=../../00_Data/A.Blomberg_15_20/P3722/best_practice_qc/P3722_201/fastq_trimmed/filterPCRdupl_uniq1.FXT.fastq
q2=../../00_Data/A.Blomberg_15_20/P3722/best_practice_qc/P3722_201/fastq_trimmed/filterPCRdupl_uniq2.FXT.fastq

#Single reads not used for this test

